module(load="imudp")
input(type="imudp" port="514")

module(load="imtcp")
input(type="imtcp" port="514")

template(name="ArquivoPorHost" type="string"
         string="{{ dir_persistente }}/logs/%HOSTNAME%.log")

*.* action(type="omfile" dynaFile="ArquivoPorHost" fileCreateMode="0666" dirCreateMode="0777")
