<!doctype html>
<meta charset="utf-8">
<title>TP1 - No de aplicacao</title>
<h1>TP1 - Sistemas Distribuidos</h1>
<p>Resposta servida pelo no: <strong>{{ ansible_hostname }}</strong></p>
<p>IP host-only: {{ inventory_hostname }}</p>
